@{
    ViewData["Title"] = "Burial List";
}
@model IntexMummy11.Models.ViewModels.MinitableViewModel
<div class="text-center">
    <div class="mx-scrollcontainer-top">
        <img class="mx-image mx-name-image1 img-responsive" src="~/img/EgyptPic.jpg" role="presentation" width="100%" border="0">
    </div>
    <br />
    <h3>Welcome to the Burial List Page</h3>
    <p>
        Here, view and filter all of the burials in the database to analyze the data.
    </p>
</div>
<div class="bg-dark text-white p-2">
    <div class="container-fluid">
        <div class="row">
            <div class="col navbar-brand">Burial Data</div>
            <a asp-action="CreateBurialMain"> <div class="col float-right btn-outline-light navbar-brand">  Add record </div> </a>
        </div>
    </div>
</div>
<div>
    @*<div class="row m-1 p-1">
            <vc:filtering></vc:filtering>
        </div>*@

    <div>
        <form method="post">
            <label asp-for="SexFilter" type="hidden">Sex:</label>
            <select asp-for="SexFilter">
                <option value="">Any Sex</option>
                <option value="M">Male</option>
                <option value="F">Female</option>
            </select>
            <br />
            <label asp-for="AgeFilter" type="hidden">Age:</label>
            <select asp-for="AgeFilter">
                <option value="">Any Age</option>
                <option value="A">Adult (year 15+)</option>
                <option value="C">Child (years 3-15)</option>
                <option value="I">Infant (years 1-3)</option>
                <option value="N">Newborn (year 0-1)</option>
                <option value="U">Unknown</option>
            </select>
            <br />
            <label asp-for="TextileColorFilter" type="hidden">Textile Color:</label>
            <input asp-for="TextileColorFilter" />
            <br />
            <label asp-for="TextileStructureFilter" type="hidden">Textile Structure:</label>
            <input asp-for="TextileStructureFilter" />
            <br />
            <label asp-for="BurialDepthFilterMin" type="hidden">Burial Depth Min:</label>
            <input asp-for="BurialDepthFilterMin" type="number" step="0.01" value="0">
            <br />
            <label asp-for="BurialDepthFilterMax" type="hidden">Burial Depth Max:</label>
            <input asp-for="BurialDepthFilterMax" type="number" step="0.01" value="5">
            <br />
            <label asp-for="TextileFunctionFilter" type="hidden">Textile Function:</label>
            <input asp-for="TextileFunctionFilter" />
            <br />
            <label asp-for="HairColorFilter" type="hidden">Hair Color:</label>
            <select asp-for="HairColorFilter">
                <option value="">Any Hair Color</option>
                <option value="B">Brown/Dark Brown/Lt Brown</option>
                <option value="K">Black</option>
                <option value="A">Brown-Red</option>
                <option value="R">Red/Red-Bl</option>
                <option value="D">Blond</option>
                <option value="U">Unknown</option>
            </select>
            <br />
            <label asp-for="EstimatedStatureFilter" type="hidden">Estimated Stature:</label>
            <input asp-for="EstimatedStatureFilter" />
            <br />
            <label asp-for="HeadDirectionFilter" type="hidden">Head Direction:</label>
            <select asp-for="HeadDirectionFilter">
                <option value="">Any Head Direction</option>
                <option value="N">North</option>
                <option value="S">South</option>
                <option value="E">East</option>
                <option value="W">West</option>
            </select>
            <br />
            <label asp-for="BurialWrappingFilter" type="hidden">Hair Color:</label>
            <select asp-for="BurialWrappingFilter">
                <option value="">Any Burial Wrapping</option>
                <option value="W">Full or nearly full wrapping remains</option>
                <option value="H">Partial wrapping remain</option>
                <option value="B">Bones and/or only partial remnants of wrapping remains</option>
                <option value="U">Unknown</option>
            </select>
            <br />
            <label asp-for="FaceBundleFilter" type="hidden">Face Bundle:</label>
            <select asp-for="FaceBundleFilter">
                <option value="">Select</option>
                <option value="Y">Yes</option>
                <option>No</option>
            </select>
            <br />




            <button type="submit">Apply Filters</button>
        </form>
    </div>

    <table class="table table-bordered table-striped table-hover col-10">
        <thead>
            <tr>
                <th>Burial ID</th>
                <th>Head Direction</th>
                <th>Depth</th>
                <th>Text</th>
                <th>Wrapping</th>
                <th>Age</th>
                <th>Excavation Year</th>
                <th>Details</th>
                <th>Edit</th>
            </tr>
        </thead>
        <tbody>
            @foreach (Minitable m in Model.Data)
            {
            <tr>
                <td>@m.Burialmainid</td>
                <td>@m.Headdirection</td>
                <td>@m.Depth</td>
                <td>@m.Text</td>
                <td>@m.Wrapping</td>
                <td>@m.Adultsubadult</td>
                <td>@m.Fieldbookexcavationyear</td>
                <td>
                    <form method="post" asp-page="/Description" class="form-check-inline">
                        <input type="hidden" asp-for="@Model.BurialIDForDescription" value="@m.Burialmainid" />
                        <span class="card-text">
                            <button type="submit" class="btn btn-success btn-sm float-end" asp-controller="Data" asp-action="BurialDetails">View Details</button>

                        </span>

                    </form>
                </td>
                <td><a asp-controller="Data" asp-action="Edit" asp-route-burialmainid="@m.Burialmainid">Edit</a></td>
                <td><a asp-controller="Data" asp-action="Delete" asp-route-id="@m.Burialmainid">Delete</a></td>
                @*<td><a asp-controller="Data" asp-action="Delete" asp-route-id="@m.Burialmainid">Delete</a></td>*@
                @*<td>
                    <form method="get" class="form-check-inline">
                        <input type="hidden" asp-for="@m.Burialmainid" value="@m.Burialmainid" />
                        <span class="card-text">
                            <button type="submit" class="btn btn-success btn-sm float-end" asp-controller="Data" asp-action="Delete">Delete</button>

                        </span>

                    </form>
                </td>*@
            </tr>
            }
        </tbody>
    </table>
</div>
<div page-blah="@Model.PageInfo" page-action="BurialList" page-classes-enabled="true" page-class="btn" page-class-normal="btn-outline-dark"
     page-class-selected="btn-primary" class="btn-group pull-right m-1">
</div>
